<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
    <title>Library</title>

    {% block stylesheets %}{% endblock %}
</head>

<body>
    {% block body %}{% endblock %}
    
    {% block javascripts %}{% endblock %}
</body>
</html>